<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/activities/add-physicalCondition.css">
</head>
<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %> 
    </header>
<main>
    <div class="page-title__div">
        <h2 class="page-title"><%= pageTitle %>:</h2>
    </div>
    <form class="add-physicalCondition-form" action="/activities/physicalCondition" method="POST">
        <div class="add-physicalCondition-form__control">
            <div class="add-physicalCondition-form__item">
                <label for="name" class="add-physicalCondition-form__title">Nombre:</label>
                <input type="text" name="name" id="muscle-name">
            </div>
            <div class="add-physicalCondition-form__item">
                <label for="description" class="add-physicalCondition-form__title">Descripción:</label>
                <input type="text" name="description" id="description">
            </div>
            <div class="add-physicalCondition-form__item">
                <label for="symptoms" class="add-physicalCondition-form__title">Síntomas:</label>
                <select name="symptoms" id="symptoms-selection">
                    <option value="sim1">Dolor de espalda</option>
                    <option value="sim2">Dolor en las rodillas</option>
                </select>
            </div>
            <div class="add-physicalCondition-form__item">
                <label for="causes" class="add-physicalCondition-form__title">Causas:</label>
                <select name="causes" id="causes-selection">
                    <option value="sim1">Mala postura</option>
                    <option value="sim2">Inflexibilidad</option>
                </select>
            </div>
            <div class="add-physicalCondition-form__item">
                <label for="treatments" class="add-physicalCondition-form__title">Tratamientos:</label>
                <select name="treatments" id="treatments-selection">
                    <option value="sim1">Estiramientos</option>
                    <option value="sim2">Ejercicios de movilidad</option>
                </select>
            </div>
            <div class="add-physicalCondition-form__item">
                <label for="tests" class="add-physicalCondition-form__title">Pruebas:</label>
                <select name="tests" id="tests-selection">
                    <option value="pub1">Prueba 1</option>
                    <option value="pub2">Prueba 2</option>
                </select>
            </div>
        </div>

        <div class="add-physicalCondition-form__btn-control">
            <button class="add-physicalCondition-form__btn" type="submit">Añadir</button>
        </div>
    </form>
</main>
</body>
</html>