<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/activities/add-equipment.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list"> 
                <!-- <li class="main-header__item"><a href="/">Inicio</a></li> -->
                <li class="main-header__item"><a href="/nutrition/food">Ver Comida</a></li>
                <li class="main-header__item"><a href="/nutrition/recipe">Ver Receta</a></li>
                <li class="main-header__item"><a href="/nutrition/diet">Ver Dieta</a></li>
                <li class="main-header__item"><a href="/nutrition/chronicCondition">Ver Condición Crónica</a></li>
                <li class="main-header__item"><a href="/activities/exercise">Ver Ejercicio</a></li>
                <li class="main-header__item"><a href="/activities/muscle">Ver Músculo</a></li>
                <li class="main-header__item"><a href="/activities/equipment">Ver Equipo</a></li>
                <li class="main-header__item"><a href="/activities/physicalCondition">Ver Condición Física</a></li>
                <li class="main-header__item"><a href="/nutrition/add-food">Añadir Comida</a></li>
                <li class="main-header__item"><a href="/nutrition/add-recipe">Añadir Receta</a></li>
                <li class="main-header__item"><a href="/nutrition/add-diet">Añadir Dieta</a></li>
                <li class="main-header__item"><a href="/nutrition/add-chronicCondition">Añadir Condición Crónica</a></li>
                <li class="main-header__item"><a href="/activities/add-exercise">Añadir Ejercicio</a></li>
                <li class="main-header__item"><a href="/activities/add-muscle">Añadir Músculo</a></li>
                <li class="main-header__item"><a class="active" href="/activities/add-equipment">Añadir Equipo</a></li>
                <li class="main-header__item"><a href="/activities/add-physicalCondition">Añadir Condición Física</a></li>
            </ul>
        </nav>
    </header>
<main>
    <div class="page-title__div">
        <h2 class="page-title"><%= pageTitle %>:</h2>
    </div>
    <form class="add-equipment-form" action="/activities/equipment" method="POST">
        <div class="add-equipment-form__control">
            <div class="add-equipment-form__item">
                <label for="name" class="add-equipment-form__title">Nombre:</label>
                <input type="text" name="name" id="muscle-name">
            </div>
            <div class="add-equipment-form__item">
                <label for="alternativeName" class="add-equipment-form__title">Nombre alternativo:</label>
                <input type="text" name="alternativeName" id="alternativeName">
            </div>
            <div class="add-equipment-form__item">
                <label for="description" class="add-equipment-form__title">Descripción:</label>
                <input type="text" name="description" id="description">
            </div>
            <div class="add-equipment-form__item">
                <label for="exercises" class="add-equipment-form__title">Ejercicios asociados:</label>
                <select name="exercises" id="exercises-selection">
                    <option value="sentadillas">Sentadillas</option>
                    <option value="lounges">Lounges</option>
                </select>
            </div>
            <div class="add-equipment-form__item">
                <label for="linkToImage" class="add-equipment-form__title">Enlace para imagen:</label>
                <input type="url" name="linkToImage" id="linkToImage">
            </div>
        </div>

        <div class="add-equipment-form__btn-control">
            <button class="add-equipment-form__btn" type="submit">Añadir</button>
        </div>
    </form>
</main>
</body>
</html>