<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Food to Database</title>
</head>
<body>
    <header>
        <nav>
            <ul> 
                <li><a href="/">Home</a></li>
                <li><a href="/nutrition/food">View Food</a></li>
                <li><a href="/nutrition/add-food">Add Food</a></li>
                <li><a href="/activities/exercise">View Exercise</a></li>
                <li><a href="/activities/add-exercise">Add Exercise</a></li>
            </ul>
        </nav>
    </header>
<main>
    <form action="exercise" method="POST">
        <input type="text" name="name">
        <button type="submit">Add</button>
    </form> 
</main>
</body>
</html>