<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/activities/add-exercise.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list"> 
                <li class="main-header__item"><a href="/">Inicio</a></li>
                <li class="main-header__item"><a href="/nutrition/food">Ver Comida</a></li>
                <li class="main-header__item"><a href="/nutrition/add-food">Añadir Comida</a></li>
                <li class="main-header__item"><a href="/nutrition/diet">Ver Diet</a></li>
                <li class="main-header__item"><a href="/nutrition/add-diet">Añadir Dieta</a></li>
                <li class="main-header__item"><a href="/nutrition/recipe">Ver Receta</a></li>
                <li class="main-header__item"><a href="/nutrition/add-recipe">Añadir Receta</a></li>
                <li class="main-header__item"><a href="/nutrition/chronicCondition">Ver Condición Crónica</a></li>
                <li class="main-header__item"><a href="/nutrition/add-chronicCondition">Añadir Condición Crónica</a></li>
                <div class="break"></div>
                <li class="main-header__item"><a href="/activities/exercise">Ver Ejercicio</a></li>
                <li class="main-header__item"><a class="active" href="/activities/add-exercise">Añadir Ejercicio</a></li>
                <li class="main-header__item"><a href="/activities/muscle">Ver Músculo</a></li>
                <li class="main-header__item"><a href="/activities/add-muscle">Añadir Músculo</a></li>
                <li class="main-header__item"><a href="/activities/equipment">Ver Equipo</a></li>
                <li class="main-header__item"><a href="/activities/add-equipment">Añadir Músculo</a></li>
                <li class="main-header__item"><a href="/activities/physicalCondition">Ver Condición Física</a></li>
                <li class="main-header__item"><a href="/activities/add-physicalCondition">Añadir Condición Física</a></li>
            </ul>
        </nav>
    </header>
<main>
    <div class="page-title__div">
        <h2 class="page-title">Añadir Nuevo Ejercicio</h2>
    </div>
    <form class="add-exercise-form" action="/activities/exercise" method="POST">
        <div class="add-exercise-form__control">
            <div class="add-exercise-form__item">
                <label for="name" class="add-exercise-form__title">Nombre de ejercicio:</label>
                <input type="text" name="name" id="exercise-name">
            </div>
            <div class="add-exercise-form__item">
                <label for="alternativeName" class="add-exercise-form__title">Nombre alternativo:</label>
                <input type="text" name="alternativeName" id="alternativeName">
            </div>
            <div class="add-exercise-form__item">
                <label for="difficulty" class="add-exercise-form__title">Dificultad:</label>
                <select name="difficulty" id="difficulty-selection">
                    <option value="baja">Baja</option>
                    <option value="media">Media</option>
                    <option value="alta">Alta</option>
                </select>
            </div>
            <div class="add-exercise-form__item">
                <label for="type" class="add-exercise-form__title">Tipo de ejercicio:</label>
                <select name="type" id="type-selection">
                    <option value="fuerza">Fuerza</option>
                    <option value="hiit">HIIT</option>
                    <option value="cardio">Cardio</option>
                    <option value="estiramiento">Estiramiento</option>
                </select>
            </div>
            <div class="add-exercise-form__item">
                <label class="add-exercise-form__title">Ejercicio compuesto:</label>
                <input type="radio" name="compundMovement" id="compundMovement-yes-selection">
                <label for="compundMovement" class="add-exercise-form__title">Sí</label>
                <input type="radio" name="compundMovement" id="compundMovement-no-selection">
                <label for="compundMovement" class="add-exercise-form__title">No</label>
            </div>
            <div class="add-exercise-form__item">
                <label for="mainMuscle" class="add-exercise-form__title">Músculo principal:</label>
                <select name="mainMuscle" id="mainMuscle-selection">
                    <option value="pantorrilla">Pantorrilla</option>
                </select>
            </div>
            <div class="add-exercise-form__item">
                <label for="secondaryMuscles" class="add-exercise-form__title">Músculos secundarios:</label>
                <select name="secondaryMuscles" id="secondaryMuscles-selection">
                    <option value="pantorrilla">Pantorrilla</option>
                </select>
            </div>
            <div class="add-exercise-form__item">
                <label for="equipments" class="add-exercise-form__title">Equipos:</label>
                <select name="equipments" id="equipments-selection">
                    <option value="barra">Barra</option>
                </select>
            </div>
            <div class="add-exercise-form__item">
                <label for="safeForConditions" class="add-exercise-form__title">Seguro para condiciones:</label>
                <select name="safeForConditions" id="safeForConditions-selection">
                    <option value="diabetestipo1">Diabetes tipo 1</option>
                    <option value="diabetestipo2">Diabetes tipo 2</option>
                    <option value="enfermedadesautinmunes">Enfermedades autoinmunes</option>
                </select>
            </div>
            <div class="add-exercise-form__item">
                <label for="notRecommendedForConditions" class="add-exercise-form__title">No recomendado para condiciones:</label>
                <select name="notRecommendedForConditions" id="notRecommendedForConditions-selection">
                    <option value="enfermedadesautinmunes">Enfermedades autoinmunes</option>
                </select>
            </div>
            <div class="add-exercise-form__item">
                <label for="recommendedForCyclePhases" class="add-exercise-form__title">Recomendado para fases:</label>
                <select name="recommendedForCyclePhases" id="recommendedForCyclePhases-selection">
                    <option value="periodo">Periodo</option>
                    <option value="folicular">Folicular</option>
                    <option value="ovulacion">Ovulación</option>
                    <option value="secretora">Secretora</option>
                </select>
            </div>
            <div class="add-exercise-form__item">
                <label for="linkToVideo" class="add-exercise-form__title">Enlace para video:</label>
                <input type="text" name="linkToVideo" id="linkToVideo">
            </div>
        </div>

        <div class="add-exercise-form__btn-control">
            <button class="add-exercise-form__btn" type="submit">Añadir</button>
        </div>
    </form>
</main>
</body>
</html>