<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/activities/view-equipment.css">
</head>
<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %> 
    </header>
<main>
    <div class="page-title__div">
        <h2 class="page-title"><%= pageTitle %>:</h2>
    </div>
    <div class="view-equipment-template">
        <ul class="view-equipment-list">
            <li class="view-equipment-list__item">
                <span class="view-equipment-list__name">ID:</span>
                <span class="view-equipment-list__value">62d9ad342aeacf742c28839e</span>
            </li>
            <li class="view-equipment-list__item">
                <span class="view-equipment-list__name">Nombre:</span>
                <span class="view-equipment-list__value">Pesas</span>
            </li>
            <li class="view-equipment-list__item">
                <span class="view-equipment-list__name">Otro nombre:</span>
                <span class="view-equipment-list__value">Dumbbells</span>
            </li>
            <li class="view-equipment-list__item">
                <span class="view-equipment-list__name">Descripción:</span>
                <span class="view-equipment-list__value">Esto es una descripción a manera de ejemplo.</span>
            </li>
            <li class="view-equipment-list__item">
                <span class="view-equipment-list__name">Ejercicios asociados:</span>
                <ul>
                    <li>Sentadillas</li>
                    <li>Lounges</li>
                </ul>
            </li>
            <li class="view-equipment-list__item">
                <span class="view-equipment-list__name">Imagen:</span>
                <span class="view-equipment-list__value">{Añadir imagen}</span>
            </li>
        </ul>
    </div>
</main>
</body>
</html>