<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/activities/view-physicalCondition.css">
</head>
<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %> 
    </header>
<main>
    <div class="page-title__div">
        <h2 class="page-title"><%= pageTitle %>:</h2>
    </div>
    <div class="view-physicalCondition-template">
        <ul class="view-physicalCondition-list">
            <li class="view-physicalCondition-list__item">
                <span class="view-physicalCondition-list__name">ID:</span>
                <span class="view-physicalCondition-list__value">62d9ad342aeacf742c28839e</span>
            </li>
            <li class="view-physicalCondition-list__item">
                <span class="view-physicalCondition-list__name">Nombre:</span>
                <span class="view-physicalCondition-list__value">Cuádriceps</span>
            </li>
            <li class="view-physicalCondition-list__item">
                <span class="view-physicalCondition-list__name">Descripción:</span>
                <span class="view-physicalCondition-list__value">Esto es una descripción a manera de ejemplo.</span>
            </li>
            <li class="view-physicalCondition-list__item">
                <span class="view-physicalCondition-list__name">Síntomas:</span>
                <ul>
                    <li>Dolor de espalda</li>
                    <li>Dolor en las rodillas</li>
                </ul>
            </li>
            <li class="view-physicalCondition-list__item">
                <span class="view-physicalCondition-list__name">Causas:</span>
                <ul>
                    <li>Mala postura</li>
                    <li>Inflamación</li>
                </ul>
            </li>
            <li class="view-physicalCondition-list__item">
                <span class="view-physicalCondition-list__name">Tratamientos:</span>
                <ul>
                    <li>Ejercicio</li>
                    <li>Estiramientos</li>
                </ul>
            </li>
            <li class="view-physicalCondition-list__item">
                <span class="view-physicalCondition-list__name">Pruebas:</span>
                <ul>
                    <li>Prueba de postura</li>
                </ul>
            </li>
        </ul>
    </div>
</main>
</body>
</html>