<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/activities/view-exercise.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list"> 
                <!-- <li class="main-header__item"><a href="/">Inicio</a></li> -->
                <li class="main-header__item"><a href="/nutrition/food">Ver Comida</a></li>
                <li class="main-header__item"><a href="/nutrition/recipe">Ver Receta</a></li>
                <li class="main-header__item"><a href="/nutrition/diet">Ver Dieta</a></li>
                <li class="main-header__item"><a href="/nutrition/chronicCondition">Ver Condición Crónica</a></li>
                <li class="main-header__item"><a class="active" href="/activities/exercise">Ver Ejercicio</a></li>
                <li class="main-header__item"><a href="/activities/muscle">Ver Músculo</a></li>
                <li class="main-header__item"><a href="/activities/equipment">Ver Equipo</a></li>
                <li class="main-header__item"><a href="/activities/physicalCondition">Ver Condición Física</a></li>
                <li class="main-header__item"><a href="/nutrition/add-food">Añadir Comida</a></li>
                <li class="main-header__item"><a href="/nutrition/add-recipe">Añadir Receta</a></li>
                <li class="main-header__item"><a href="/nutrition/add-diet">Añadir Dieta</a></li>
                <li class="main-header__item"><a href="/nutrition/add-chronicCondition">Añadir Condición Crónica</a></li>
                <li class="main-header__item"><a href="/activities/add-exercise">Añadir Ejercicio</a></li>
                <li class="main-header__item"><a href="/activities/add-muscle">Añadir Músculo</a></li>
                <li class="main-header__item"><a href="/activities/add-equipment">Añadir Músculo</a></li>
                <li class="main-header__item"><a href="/activities/add-physicalCondition">Añadir Condición Física</a></li>
            </ul>
        </nav>
    </header>
<main>
    <div class="page-title__div">
        <h2 class="page-title"><%= pageTitle %>:</h2>
    </div>
    <div class="view-exercise-template">
        <ul class="view-exercise-list">
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">ID:</span>
                <span class="view-exercise-list__value">62d9ad342aeacf742c28839e</span>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">Name:</span>
                <span class="view-exercise-list__value">Sentadillas</span>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">Otro nombre:</span>
                <span class="view-exercise-list__value">Squats</span>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">Dificultad:</span>
                <span class="view-exercise-list__value">Difícil</span>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">Tipod de ejercicio:</span>
                <ul>
                    <li>Fuerza</li>
                    <li>HIIT</li>
                </ul>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">Movimiento compuesto:</span>
                <span class="view-exercise-list__value">Sí</span>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">Músculo principal:</span>
                <span class="view-exercise-list__value">Cuádriceps</span>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">Músculos secundarios:</span>
                <ul>
                    <li>Pantorillas</li>
                    <li>Isquiotibiales</li>
                    <li>Glúteos</li>
                    <li>Abdomen</li>
                </ul>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">Equipos:</span>
                <ul>
                    <li>Pesas</li>
                    <li>Barras</li>
                    <li>Peso corporal</li>
                    <li>Bandas de resistencia</li>
                </ul>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">Seguro para condiciones:</span>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">No recomendado para condiciones:</span>
                <ul>
                    <li></li>
                </ul>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">Recomendado para fases menstruales:</span>
                <ul>
                    <li>Lútea</li>
                    <li>Sangrado</li>
                </ul>
            </li>
            <li class="view-exercise-list__item">
                <span class="view-exercise-list__name">Video:</span>
                <span class="view-exercise-list__value">{Añadir video}</span>
            </li>
        </ul>
    </div>
</main>
</body>
</html>