/* Add Equipment */
.add-equipment-form {
    width: 25rem;
    max-width: 90%;
    min-height: 5rem;
    padding: 0.5rem;
    color: #01484d;
    border: 1.5px solid #01484d;
    border-radius: 20px;
    background-color: #d8efef;
}

.add-equipment-form__control{
    padding: 0.5rem 0 0.5rem 0;
}

.add-equipment-form__item {
    display: flex;
    margin: 0 0 1rem 0;
}

.add-equipment-form__item label{
    padding: 0 5px 0 0;
}

.add-equipment-form__item input {
    flex-grow: 1;
    border: 1px solid #007E86;
    font: inherit;
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
}

.add-equipment-form__item select {
    border: 1px solid #007E86;
    font: inherit;
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
}

.add-equipment-form__btn-control{
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
}

button {
    padding: 5px 20px;
    border: 1.5px solid #007E86;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    color: #007E86;
    cursor: pointer;
}

button:hover,
button:active {
    border: 2px solid #007E86;
    background-color: #007E86;
    font-weight: bold;
    color: white;
    cursor: pointer;
}