/* View Exercise */
.view-exercise-template {
    border: 1px solid #01484d;
    border-radius: 20px;
    background-color: #d8efef;
}

.view-exercise-list {
    list-style: none;
    padding: 0 1rem;
}

.view-exercise-list__item {
    margin: 1rem 0;
    /* background-color: lightgray; */

}

.view-exercise-list__name {
    font-weight: bold;
    /* background-color: lightsalmon; */
}

.view-exercise-list__value {
    /* background-color: lightgreen; */
}