/* General styles */
body {
    padding: 0;
    margin: 0;
}

main {
    padding: 1rem  0;
    display: grid;
    justify-content: center;
}

select, input, textarea {
    background-color: white;
}

textarea {
    resize: none;
}

/* HEADER */
.main-header {        
    width: 100%;
    /* height: 2.5rem; */
    border-bottom: 1px solid #007E86;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* display: grid; */
    /* justify-content: center; */
}

.main-header__nav {
    /* max-width: 110rem; */
    /* height: 100%; */
    /* display: grid; */
    /* align-items: center; */
    /* justify-content: center; */
}

.main-header__item-list {
    max-width: 100%;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* display: flex; */
}

.main-header__item {
    margin: 0;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: #007E86;
    padding-bottom: 3px;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #1BA9B5;
    border-bottom: 2px solid #6EAB36;
}

/* Main */
.page-title__div {
    width: 25rem;
    text-align: center;
}

.page-title {
    margin: 0 0 1rem 0;
    padding: 0;
    color: #01484d;
}

/** Information Form  */
/* Add Food */
.selection-creation {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-dropdown {
    display: flex;
    justify-content: left;
    align-items: center;
    font: inherit;
}

.select-dropdown__title {
    margin: 0 0.5rem 0 0;
}

.select-dropdown select {
    border: 1px solid #007E86;
    font: inherit;
    border-radius: 5px;
}

.select__btn {
    margin: 0 0.5rem;
}

.new__btn {
    margin: 0 1rem 0 0;
}

.select-dropdown,
.form {
    width: 30rem;
    max-width: 90%;
    padding: 0.5rem;
    color: #01484d;
}

.form {
    min-height: 5rem;
    border: 1.5px solid #01484d;
    border-radius: 20px;
    background-color: #d8efef;
}

.form__btn{
    margin: 0 0.5rem 0 0;
}

.form__control{
    padding: 0.5rem 0 0.5rem 0;
}

.form__item {
    display: flex;
    margin: 0 0 1rem 0;
}

.form__item label {
    padding: 0 5px 0 0;
}

.form__item input {
    flex-grow: 1;
    border: 1px solid #007E86;
    font: inherit;
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
}

.form__item select,
.form__item-rows select,
.form__item-rows input,
.form__item-rows textarea {
    border: 1px solid #007E86;
    font: inherit;
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
}

.form__item-rows {
    display: grid;
    margin: 0 0 1rem 0;
}

.form__item-rows label,
.form__item-rows select,
.form__item-rows input,
.form__item-rows textarea {
    margin: 0 0 0.5rem 0;
}

.form__selects-div,
.form__input-div,
.form__textarea-div {
    display: grid;
}

.form__btn-control {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
}

button {
    padding: 5px 20px;
    border: 1.5px solid #007E86;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    color: #007E86;
    cursor: pointer;
}

button:hover,
button:active {
    border: 2px solid #007E86;
    background-color: #007E86;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.form__add-btn {
    max-width: 50%;
    margin: auto;
}

.form-btns__control {
    display: flex;
    justify-content: space-evenly;
}