<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list"> 
                <!-- <li class="main-header__item"><a class="active" href="/">Inicio</a></li> -->
                <li class="main-header__item"><a href="/nutrition/food">Ver Comida</a></li>
                <li class="main-header__item"><a href="/nutrition/diet">Ver Dieta</a></li>
                <li class="main-header__item"><a href="/nutrition/recipe">Ver Receta</a></li>
                <li class="main-header__item"><a href="/nutrition/chronicCondition">Ver Condición Crónica</a></li>
                <li class="main-header__item"><a href="/activities/exercise">Ver Ejercicio</a></li>
                <li class="main-header__item"><a href="/activities/muscle">Ver Músculo</a></li>
                <li class="main-header__item"><a href="/activities/equipment">Ver Equipo</a></li>
                <li class="main-header__item"><a href="/activities/physicalCondition">Ver Condición Física</a></li>
                <li class="main-header__item"><a href="/nutrition/add-food">Añadir Comida</a></li>
                <li class="main-header__item"><a href="/nutrition/add-diet">Añadir Dieta</a></li>
                <li class="main-header__item"><a href="/nutrition/add-recipe">Añadir Receta</a></li>
                <li class="main-header__item"><a href="/nutrition/add-chronicCondition">Añadir Condición Crónica</a></li>
                <li class="main-header__item"><a href="/activities/add-exercise">Añadir Ejercicio</a></li>
                <li class="main-header__item"><a href="/activities/add-muscle">Añadir Músculo</a></li>
                <li class="main-header__item"><a href="/activities/add-equipment">Añadir Músculo</a></li>
                <li class="main-header__item"><a href="/activities/add-physicalCondition">Añadir Condición Física</a></li>
            </ul>
        </nav>
    </header>
<main>
    <h1 class="page-title"><%= pageTitle%></h1>
</main>
</body>
</html>