<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nutrition/add-recipe.css">
</head>

<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main>
        <div class="page-title__div">
            <h2 class="page-title"><%= pageTitle %>:</h2>
        </div>
        <form class="add-recipe-form" action="/nutrition/recipe" method="POST">
            <div class="add-recipe-form__control">
                <div class="add-recipe-form__item">
                    <label for="recipe-name" class="add-recipe-form__title">Nombre:</label>
                    <input type="text" name="recipe-name" id="recipe-name">
                </div>
                <div class="add-recipe-form__item">
                    <label for="description" class="add-recipe-form__title">Descripción:</label>
                    <input type="text" name="description" id="description">
                </div>
                <div class="add-recipe-form__item">
                    <label for="source" class="add-recipe-form__title">Fuente:</label>
                    <input type="url" name="source" id="source">
                </div>
                <div class="add-recipe-form__item">
                    <label for="preparationTime" class="add-recipe-form__title">Tiempo de preparación:</label>
                    <input type="number" name="preparationTime" id="preparationTime">
                </div>
                <div class="add-recipe-form__item">
                    <label for="complexity" class="add-recipe-form__title">Complejidad:</label>
                    <select name="complexity" id="complexity-selection">
                        <option value="baja">Baja</option>
                        <option value="media">Media</option>
                        <option value="alta">Alta</option>
                    </select>
                </div>
                <div class="add-recipe-form__item">
                    <label class="add-recipe-form__title">Tipo de comida:</label>
                    <input type="checkbox" name="mealType-breakfast" id="mealType-selection">
                    <label for="mealType-breakfast" class="add-recipe-form__title">Desayuno</label>
                    <input type="checkbox" name="mealType-lunch" id="mealType-selection">
                    <label for="mealType-lunch" class="add-recipe-form__title">Almuerzo</label>
                    <input type="checkbox" name="mealType-dinner" id="mealType-selection">
                    <label for="mealType-dinner" class="add-recipe-form__title">Cena</label>
                </div>
                <div class="add-recipe-form__item">
                    <label for="ingredients" class="add-recipe-form__title">Ingredientes:</label>
                    <select name="ingredients" id="ingredients-selection">
                        <option value="pollo">Pollo</option>
                        <option value="sal">Sal</option>
                        <option value="pimienta">Pimienta</option>
                    </select>
                </div>
                <div class="add-recipe-form__item">
                    <label for="instructions" class="add-recipe-form__title">Instrucciones:</label>
                    <input type="text" name="instructions" id="instructions">
                </div>
                <div class="add-recipe-form__item">
                    <label for="tools" class="add-recipe-form__title">Herramientas:</label>
                    <input type="text" name="tools" id="tools">
                </div>
                <div class="add-recipe-form__item">
                    <label for="safeForConditions" class="add-recipe-form__title">Seguro para condiciones:</label>
                    <select name="safeForConditions" id="safeForConditions-selection">
                        <option value="diabetestipo1">Diabetes tipo 1</option>
                        <option value="diabetestipo2">Diabetes tipo 2</option>
                        <option value="enfermedadesautinmunes">Enfermedades autoinmunes</option>
                    </select>
                </div>
                <div class="add-recipe-form__item">
                    <label for="notRecommendedForConditions" class="add-recipe-form__title">No recomendado para condiciones:</label>
                    <select name="notRecommendedForConditions" id="notRecommendedForConditions-selection">
                        <option value="enfermedadesautinmunes">Enfermedades autoinmunes</option>
                    </select>
                </div>
                <div class="add-recipe-form__item">
                    <label for="dietFriendly" class="add-recipe-form__title">Compatible con dietas:</label>
                    <select name="dietFriendly" id="dietFriendly-selection">
                        <option value="keto">Keto</option>
                        <option value="paleo">Paleo</option>
                        <option value="vegana">Vegana</option>
                    </select>
                </div>
                <div class="add-recipe-form__item">
                    <label for="recommendedForCyclePhases" class="add-recipe-form__title">Recomendado para fases:</label>
                    <select name="recommendedForCyclePhases" id="recommendedForCyclePhases-selection">
                        <option value="periodo">Periodo</option>
                        <option value="folicular">Folicular</option>
                        <option value="ovulacion">Ovulación</option>
                        <option value="secretora">Secretora</option>
                    </select>
                </div>
                <div class="add-recipe-form__item">
                    <label for="linkToImage" class="add-recipe-form__title">Enlace para imagen:</label>
                    <input type="url" name="linkToImage" id="linkToImage">
                </div>
                <div class="add-recipe-form__item">
                    <label for="linkToVideo" class="add-recipe-form__title">Enlace para video:</label>
                    <input type="url" name="linkToVideo" id="linkToVideo">
                </div>
            </div>

            <div class="add-recipe-form__btn-control">
                <button class="add-recipe-form__btn" type="submit">Add</button>
            </div>
        </form>
    </main>
</body>

</html>