<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nutrition/add-chronicCondition.css">
</head>

<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main>
        <div class="page-title__div">
            <h2 class="page-title"><%= pageTitle %>:</h2>
        </div>
        <form class="add-chronicCondition-form" action="/nutrition/chronicCondition" method="POST">
            <div class="add-chronicCondition-form__control">
                <div class="add-chronicCondition-form__item">
                    <label for="chronicCondition-name" class="add-chronicCondition-form__title">Nombre:</label>
                    <input type="text" name="chronicCondition-name" id="chronicCondition-name">
                </div>
                <div class="add-chronicCondition-form__item">
                    <label for="description" class="add-chronicCondition-form__title">Descripción:</label>
                    <input type="text" name="description" id="description">
                </div>
                
                <div class="add-chronicCondition-form__item">
                    <label for="symptoms" class="add-chronicCondition-form__title">Síntomas:</label>
                    <select name="symptoms" id="symptoms-selection">
                        <option value="sim1">Dolor de espalda</option>
                        <option value="sim2">Dolor en las rodillas</option>
                    </select>
                </div>
                <div class="add-chronicCondition-form__item">
                    <label for="causes" class="add-chronicCondition-form__title">Causas:</label>
                    <select name="causes" id="causes-selection">
                        <option value="sim1">Mala postura</option>
                        <option value="sim2">Inflexibilidad</option>
                    </select>
                </div>
                <div class="add-chronicCondition-form__item">
                    <label for="symptoms" class="add-chronicCondition-form__title">Tratamientos:</label>
                    <select name="symptoms" id="symptoms-selection">
                        <option value="sim1">Estiramientos</option>
                        <option value="sim2">Ejercicios de movilidad</option>
                    </select>
                </div>
                <div class="add-chronicCondition-form__item">
                    <label for="tests" class="add-chronicCondition-form__title">Pruebas:</label>
                    <select name="tests" id="tests-selection">
                        <option value="pub1">Prueba 1</option>
                        <option value="pub2">Prueba 2</option>
                    </select>
                </div>
            </div>
            </div>

            <div class="add-chronicCondition-form__btn-control">
                <button class="add-chronicCondition-form__btn" type="submit">Add</button>
            </div>
        </form>
    </main>
</body>

</html>