<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nutrition/add-chronicCondition.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list"> 
                <!-- <li class="main-header__item"><a href="/">Inicio</a></li> -->
                <li class="main-header__item"><a href="/nutrition/food">Ver Comida</a></li>
                <li class="main-header__item"><a href="/nutrition/recipe">Ver Receta</a></li>
                <li class="main-header__item"><a href="/nutrition/diet">Ver Dieta</a></li>
                <li class="main-header__item"><a href="/nutrition/chronicCondition">Ver Condición Crónica</a></li>
                <li class="main-header__item"><a href="/activities/exercise">Ver Ejercicio</a></li>
                <li class="main-header__item"><a href="/activities/muscle">Ver Músculo</a></li>
                <li class="main-header__item"><a href="/activities/equipment">Ver Equipo</a></li>
                <li class="main-header__item"><a href="/activities/physicalCondition">Ver Condición Física</a></li>
                <li class="main-header__item"><a href="/nutrition/add-food">Añadir Comida</a></li>
                <li class="main-header__item"><a href="/nutrition/add-recipe">Añadir Receta</a></li>
                <li class="main-header__item"><a href="/nutrition/add-diet">Añadir Dieta</a></li>
                <li class="main-header__item"><a class="active" href="/nutrition/add-chronicCondition">Añadir Condición Crónica</a></li>
                <li class="main-header__item"><a href="/activities/add-exercise">Añadir Ejercicio</a></li>
                <li class="main-header__item"><a href="/activities/add-muscle">Añadir Músculo</a></li>
                <li class="main-header__item"><a href="/activities/add-equipment">Añadir Músculo</a></li>
                <li class="main-header__item"><a href="/activities/add-physicalCondition">Añadir Condición Física</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="page-title__div">
            <h2 class="page-title"><%= pageTitle %>:</h2>
        </div>
        <form class="add-chronicCondition-form" action="/nutrition/chronicCondition" method="POST">
            <div class="add-chronicCondition-form__control">
                <div class="add-chronicCondition-form__item">
                    <label for="chronicCondition-name" class="add-chronicCondition-form__title">Nombre:</label>
                    <input type="text" name="chronicCondition-name" id="chronicCondition-name">
                </div>
                <div class="add-chronicCondition-form__item">
                    <label for="official-name" class="add-chronicCondition-form__title">Nombre oficial:</label>
                    <input type="text" name="official-name" id="official-name">
                </div>
                <div class="add-chronicCondition-form__item">
                    <label for="description" class="add-chronicCondition-form__title">Descripción:</label>
                    <input type="text" name="description" id="description">
                </div>
                
                <div class="add-chronicCondition-form__item">
                    <label for="safeForConditions" class="add-chronicCondition-form__title">Seguro para condiciones:</label>
                    <select name="safeForConditions" id="safeForConditions-selection">
                        <option value="diabetestipo1">Diabetes tipo 1</option>
                        <option value="diabetestipo2">Diabetes tipo 2</option>
                        <option value="enfermedadesautinmunes">Enfermedades autoinmunes</option>
                    </select>
                </div>
            </div>

            <div class="add-chronicCondition-form__btn-control">
                <button class="add-chronicCondition-form__btn" type="submit">Add</button>
            </div>
        </form>
    </main>
</body>

</html>