<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/nutrition/recipe.css">
</head>

<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main>
        <div class="page-title__div">
            <h2 class="page-title"><%= pageTitle %>:</h2>
        </div>
        <form class="form" action="/nutrition/recipe" method="POST">
            <div class="form__control">
                <!-- NAME -->
                <div class="form__item">
                    <label for="name" class="form__title">Nombre:</label>
                    <input type="text" name="name" id="recipe-name">
                </div>
                <!-- DESCRIPTION -->
                <div class="form__item">
                    <label for="description" class="form__title">Descripci칩n:</label>
                    <input type="text" name="description" id="description">
                </div>
                <!-- SOURCE -->
                <div class="form__item">
                    <label for="source" class="form__title">Fuente:</label>
                    <input type="text" name="source" id="source">
                </div>
                <!-- PREPARATION TIME -->
                <div class="form__item">
                    <label for="preparationTime" class="form__title">Tiempo de preparaci칩n:</label>
                    <input type="number" name="preparationTime" id="preparationTime">
                </div>
                <!-- COMPLEXITY -->
                <div class="form__item">
                    <label for="complexity" class="form__title">Complejidad:</label>
                    <select name="complexity" id="complexity-selection">
                        <option value="baja">Baja</option>
                        <option value="media">Media</option>
                        <option value="alta">Alta</option>
                    </select>
                </div>
                <!-- MEAL TYPE -->
                <div class="form__item">
                    <label class="form__title">Tipo de comida:</label>
                    <input type="checkbox" name="mealType-breakfast" id="mealType-selection">
                    <label for="mealType-breakfast" class="form__title">Desayuno</label>
                    <input type="checkbox" name="mealType-lunch" id="mealType-selection">
                    <label for="mealType-lunch" class="form__title">Almuerzo</label>
                    <input type="checkbox" name="mealType-dinner" id="mealType-selection">
                    <label for="mealType-dinner" class="form__title">Cena</label>
                </div>
                
                <!-- INGREDIENTS -->
                <div class="form__item-rows">
                    <label for="ingredients" class="form__title">Ingredientes:</label>
                    <select name="ingredients" id="ingredients-selection">
                        <option value="pollo">Pollo</option>
                        <option value="sal">Sal</option>
                        <option value="pimienta">Pimienta</option>
                    </select>
                </div>
                <!-- INSTRUCTIONS -->
                <div class="form__item-rows">
                    <label for="instructions" class="form__title">Instrucciones:</label>
                    <textarea name="instructions" id="instructions" rows="3"></textarea>
                </div>
                <!-- UTENSILS -->
                <div class="form__item-rows">
                    <label for="utensils" class="form__title">Utensilios:</label>
                    <input type="text" name="utensils" id="utensils">
                </div>
                <!-- SAFE FOR CONDITIONS -->
                <div class="form__item-rows">
                    <label for="safeForConditions" class="form__title">Seguro para condiciones:</label>
                    <select name="safeForConditions" id="safeForConditions-selection">
                        <option value="diabetestipo1">Diabetes tipo 1</option>
                        <option value="diabetestipo2">Diabetes tipo 2</option>
                        <option value="enfermedadesautinmunes">Enfermedades autoinmunes</option>
                    </select>
                </div>
                <!-- NOT RECOMMENDED FOR CONDITIONS -->
                <div class="form__item-rows">
                    <label for="notRecommendedForConditions" class="form__title">No recomendado para condiciones:</label>
                    <select name="notRecommendedForConditions" id="notRecommendedForConditions-selection">
                        <option value="enfermedadesautinmunes">Enfermedades autoinmunes</option>
                    </select>
                </div>
                <!-- COMPATIBLE WITH DIETS -->
                <div class="form__item-rows">
                    <label for="compatibleWithDiets" class="form__title">Compatible con dietas:</label>
                    <select name="compatibleWithDiets" id="compatibleWithDiets-selection">
                        <option value="keto">Keto</option>
                        <option value="paleo">Paleo</option>
                        <option value="vegana">Vegana</option>
                    </select>
                </div>
                <!-- RECOMMENDED FOR PHASES -->
                <div class="form__item-rows">
                    <label for="recommendedForCyclePhases" class="form__title">Recomendado para fases:</label>
                    <select name="recommendedForCyclePhases" id="recommendedForCyclePhases-selection">
                        <option value="periodo">Periodo</option>
                        <option value="folicular">Folicular</option>
                        <option value="ovulacion">Ovulaci칩n</option>
                        <option value="secretora">Secretora</option>
                    </select>
                </div>
                <!-- LINK TO IMAGE -->
                <div class="form__item">
                    <label for="linkToImage" class="form__title">Enlace para imagen:</label>
                    <input type="text" name="linkToImage" id="linkToImage">
                </div>
                <!-- LINK TO VIDEO -->
                <div class="form__item">
                    <label for="linkToVideo" class="form__title">Enlace para video:</label>
                    <input type="text" name="linkToVideo" id="linkToVideo">
                </div>
            </div>
            <div class="form-btns__control">
                <button class="form__btn"  type="submit" id="add-food-form-btn">A침adir</button>
            </div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>