<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/nutrition/view-recipe.css">
</head>

<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main>
        <div class="page-title__div">
            <h2 class="page-title">
                <%= pageTitle %>:
            </h2>
        </div>
        <div class="view-recipe-template">
            <ul class="view-recipe-list">
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">ID:</span>
                    <span class="view-recipe-list__value">62d9ad342aeacf742c28839e</span>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Nombre:</span>
                    <span class="view-recipe-list__value">Pechuga de pollo</span>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Descripción:</span>
                    <span class="view-recipe-list__value">Esto es una descripción corta a manera de ejemplo</span>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Fuente:</span>
                    <span class="view-recipe-list__value">www.source.com</span>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Tiempo de preparación:</span>
                    <span class="view-recipe-list__value">45 minutos</span>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Complejidad:</span>
                    <span class="view-recipe-list__value">Fácil</span>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Tipo de comida:</span>
                    <ul>
                        <li>Almuerzo</li>
                        <li>Cena</li>
                    </ul>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Ingredientes:</span>
                    <ul>
                        <li>Pollo</li>
                        <li>Sal</li>
                        <li>Pimienta</li>
                    </ul>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Instrucciones:</span>
                    <ul>
                        <li>Instrucción 1</li>
                        <li>Instrucción 2</li>
                        <li>Instrucción 3</li>
                    </ul>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Herramientas:</span>
                    <ul>
                        <li>Herramienta 1</li>
                        <li>Herramienta 2</li>
                        <li>Herramienta 3</li>
                    </ul>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Información nutricional:</span>
                    <span class="view-recipe-list__value">{Objeto}</span>
                </li>

                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Seguro para condiciones:</span>
                    <ul>
                        <li>Diabetes tipo 1</li>
                        <li>Diabetes tipo 2</li>
                        <li>Enfermedades autoinmunes</li>
                        <li>Sobrepeso/Obesidad</li>
                    </ul>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">No recomendado para condiciones:</span>
                    <ul>
                    </ul>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Compatible con dietas:</span>
                    <ul>
                        <li>Keto</li>
                        <li>Paleo</li>
                    </ul>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Recomendado para fases menstruales:</span>
                    <ul>
                        <li>Lútea</li>
                        <li>Sangrado</li>
                    </ul>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Imagen:</span>
                    <span class="view-recipe-list__value">{Añadir imagen}</span>
                </li>
                <li class="view-recipe-list__item">
                    <span class="view-recipe-list__name">Video:</span>
                    <span class="view-recipe-list__value">{Añadir video}</span>
                </li>
            </ul>
        </div>
    </main>
</body>

</html>